$dark-bg: rgb(26, 24, 24);
$roku-purple: #6C3C97;
$purple: #6C3C97;
$dark-purple: #5d3582;
$black: #1b1b1b;
$white: #F5F5F5;

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
    font-weight: normal;
    font-style: normal;

}


$reg-font: 'Open Sans', sans-serif; 
  