// put this command line on terminal
// sass --watch sass/master.scss:css/main.css --style compressed

@import '_vars';
@import 'modules/_main';
@import 'modules/_usercomponent';
@import 'modules/_userhomecomponent';
@import 'modules/_footer';
@import 'modules/_login';
@import 'modules/mediaqueries';
@import 'modules/_nav';
@import 'modules/_lightbox';
@import 'modules/_admin';

#app {
    background-color: $white;
}

body {

    color:black; 
    background-color:white;
    font-family: $reg-font;
    background: none;
    margin-bottom: 0px;

    h2 {

        font-family: $reg-font;

    }
}

.hidden {

    display: none;
}






