footer{
    background-color: $purple;
    overflow: hidden;
    padding-top: 20px;
}

.footersocial img
{
    float: left;
    width: 35px;
    margin-right: 10px;
    margin-top: 10px;
}

.footerlogo
{
    float: left;
}

.footersocial
{
    float: right;
    margin-right: 10px;
}

#footertop
{
    overflow: hidden;
    margin-bottom: 15px;
}

.footerlinks ul
{
 list-style-type: none;
 margin-bottom: 30px;
}

.footerlinks
{
    text-align: center;
    padding-bottom: 20px;
}


.footerlinks li a
{
    display: block;
    float: left;
    margin-right: 20px;
    color: white;
}