.typemenu img {
  width: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 25px;
}

.typemenu img:hover
{
	filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease;
}

#navlogo
{
    max-width: 140px;
    float: left;
}

.menu
{
  float: left;
  margin-right: 50px;
}

.top-bar
{
  background-color: white;
}

#main-nav
{
  background-color: white;
}

.button
{
  background-color: $purple;
}

.button:hover
{
  background-color: #5d3582;
}

#setting_link 
{
  color: $purple;
}

#setting_link:hover
{
  color: #5d3582;
}

.profileicon
{
  width: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
}
