.user-message { margin: 0.25em 0 1em; }

.card 
{ 
    cursor: pointer;  
    color: white; 
    background: $roku-purple;
    border: 4px solid darken($roku-purple, 10%);
    margin-bottom: 50px;

}

.card:hover
{
    background: darken($roku-purple, 10%);
}

.card-body p 
{ 
    margin-bottom: 10px;
    font-size: 1.5em;
}

.card-body img
{
    padding: 10%;
}

#userSelection
{
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.user-message
{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: $purple;
    text-align: center;
}

#userback
{
    background-color: $purple;
    padding: 20px;
}

label 
{
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8;
    color: $purple;
    float: left;
}

.settingssubmit
{
    background-color: $purple;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.settingssubmit:hover
{
    background-color: $dark-purple;
    cursor: pointer;
}
